@page "/culture/new"
@using Neo4j.Driver
@using MycoMgmt.API.Helpers
@using Microsoft.AspNetCore.Components
@using Microsoft.Extensions.FileSystemGlobbing.Internal.PathSegments
@using MycoMgmt.API
@using MycoMgmt.API.Models

<EditForm Model="@Culture" OnValidSubmit="@Onvalidsubmitcode" xmlns="http://www.w3.org/1999/html">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <h2><b>Culture</b></h2>
    <br/>
    <div class="form-group">
        <label>Name:</label>
        <br/>
        <InputText @bind-Value="(Culture.Name)" />
    </div>
    
    <div class="form-group">
        <label>Parent:</label>
        <br/>
        <InputText @bind-Value="ParentName" />
    </div>

    <div class="form-group">
        <label>Type:</label>
        <br/>
         <select class="form-control" @bind="Culture.Type">
            <option value="@(CultureTypes.Agar)"> @CultureTypes.Agar </option>
            <option value="@(CultureTypes.LiquidCulture)"> @CultureTypes.LiquidCulture </option>
            <option value="@(CultureTypes.SporePrint)"> @CultureTypes.SporePrint </option>
            <option value="@(CultureTypes.SporeSyringe)"> @CultureTypes.SporeSyringe </option>
        </select>
    </div>
    
    <div class="form-group">
        <label>Strain:</label>
        <br/>
         <select class="form-control" @bind="Culture.Strain">
             <option value="@(Strain.Mazapatec)"> @Strain.Mazapatec </option>
             <option value="@(Strain.BPlus)"> @Strain.BPlus </option>
             <option value="@(Strain.GoldenTeacher)"> @Strain.GoldenTeacher </option>
        </select>
    </div>
    
    <div class="form-group">
        <label>Recipe:</label>
        <br/>
        <select class="form-control" @bind="Culture.Recipe">
            <option value="null">  </option>
            <option value="Blue Transparent Agar"> Blue Transparent Agar </option>
        </select>
    </div>
    
    <div class="form-group">
        <label>Location:</label>
        <br/>
       
        <select class="form-control" @bind="Culture.Location">
            <option value="@(Locations.Fridge)"> @(Locations.Fridge) </option>
            <option value="@(Locations.GrowTent)"> @(Locations.GrowTent) </option>
            <option value="@(Locations.IncubationChamber)"> @(Locations.IncubationChamber) </option>
            <option value="@(Locations.WineCooler)"> @(Locations.WineCooler) </option>
            <option value="@(Locations.LongTermStorage)"> @(Locations.LongTermStorage) </option>
        </select>
    </div>
    
    <div class="form-group">
        <label>Successful:</label>
        <br/>
        <InputCheckbox @bind-Value="(Culture.Successful)" />
    </div>
    
    <div class="form-group">
        <label>Finished:</label>
        <br/>
        <InputCheckbox @bind-Value="(Culture.Finished)" />
    </div>
    
    <button type="submit" class="btn-dark">Submit</button>
</EditForm>
    

@code 
{
    static readonly IDriver Driver = GraphDatabase.Driver("neo4j://localhost:7687", AuthTokens.Basic("rg", "rg"));
    private readonly IAsyncSession _session = Driver.AsyncSession(o => o.WithDatabase("mycomgmt"));
    
    private Culture Culture { get; set; } = new Culture();
    private string ParentName { get; set; } = null;
    
    private void Onvalidsubmitcode()
    {
        _session.CreateCulture(Culture);
        
        
        if (!string.IsNullOrEmpty(ParentName))
        {
            _session.CreateParentRelationship($"(c:Culture {{ Name: '{Culture.Name}' }})", $"(n {{ Name: '{ParentName}' }})");
        }
        
    }
}